p,
h1,
h2,
h3,
h4,
h5,
label {
  color: black;
  font-weight: 500;
}

.App {
  font-family: sans-serif;
  text-align: center;
}
.col-form-label {
  font-size: 1rem;
  font-weight: 800;
}

.image-frame {
  display: inline-block;
  width: 50%;
  
}

.border-img {
  height: 10rem;
  max-width: 10rem;
  border: 1px solid rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;


  .img-preview {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
}

.img-info p{
  font-size: smaller;
  font-weight: normal;
  margin-bottom: -5px;
}

#overlay {
  background: #ffffff;
  color: #666666;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 5000;
  top: 0;
  left: 0;
  float: left;
  text-align: center;
  padding-top: 25%;
  opacity: 0.8;
}

.spinner {
  margin: 0 auto;
  height: 64px;
  width: 64px;
  animation: rotate 0.8s infinite linear;
  border: 5px solid firebrick;
  border-right-color: transparent;
  border-radius: 50%;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.outer-frame{
  &::before {
    content: var(--content);
    background: white;
    position: absolute;
    margin-top: -.8rem;
    margin-left: -16rem;
    color: black;
    font-weight: 500;
    z-index: 9999;
  }
}

.frame {
  display: block;

}

.card{
  height: 24rem;
}



